.searchbar-modern {
width: 100%;
max-width: 650px;
margin: auto;
display: flex;
background: #1b1e28;
border-radius: 14px;
padding: 0.8rem 1rem;
align-items: center;
gap: 1rem;
box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.searchbar-modern input {
flex: 1;
background: transparent;
border: none;
font-size: 1rem;
color: var(--fg);
outline: none;
}